[submodule "Submodules/Project.Utils"]
	path = Submodules/Project.Utils
	url = https://github.com/T-PoseRatkechi/Project.Utils.git
[submodule "Submodules/Unreal.ObjectsEmitter"]
	path = Submodules/Unreal.ObjectsEmitter
	url = https://github.com/RyoTune/Unreal.ObjectsEmitter.git
[submodule "Submodules/Unreal.AtlusScript"]
	path = Submodules/Unreal.AtlusScript
	url = https://github.com/RyoTune/Unreal.AtlusScript.git
[submodule "submodules/p3rpc.commonmodutils"]
	path = submodules/p3rpc.commonmodutils
	url = https://github.com/rirurin/p3rpc.commonmodutils.git
[submodule "submodules/p3rpc.nativetypes"]
	path = submodules/p3rpc.nativetypes
	url = https://github.com/rirurin/p3rpc.nativetypes.git
[submodule "submodule/SharedScans"]
	path = submodule/SharedScans
	url = https://github.com/rirurin/SharedScans.git
[submodule "submodules/SharedScans"]
	path = submodules/SharedScans
	url = https://github.com/rirurin/SharedScans.git
[submodule "submodules/p3rpc.classconstructor"]
	path = submodules/p3rpc.classconstructor
	url = https://github.com/rirurin/p3rpc.classconstructor.git
